body {
    /*background-image: url(images/teste-front-end.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
}


/* General */

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #0fb9bc;
    border-radius: 0;
}

.text-bold {font-weight: bold;}

.padding-25 {padding: 0 25px;}

.margin-0 {margin: 0}

.margin-bottom-30 {margin-bottom: 30px;}

/* header */

.navbar-default {
    background-color: #0fb9bc;
    border-color: #e7e7e7;
    height: 58px;
}

.navbar-header {
    background-color: #fff;
    width: 215px;
    height: 58px;
    padding-left: 15px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 6px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand>img {
    display: block;
    width: 127px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    margin: 6px 2px 0px 2px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
    text-decoration-line: underline;
}



/* Title */

.title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.title h3 {font-weight: 600;}


/* Filter */

.filter {
    background-color: #f5f5f5;
    padding: 15px 20px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.filter-list {
    margin-right: 30px;
}

.btn-default {
    border-radius: 0;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-date {
    padding-left: 35px;
    padding-right: 50px;
    font-size: 14px;
    border: 1px solid #0FBABC;
}

.btn-date-arrow {
    background-color: #0fb9bc;
    color: #fff;
    border: 1px solid #0FB9bc;
}

.filter-label {
    margin-right: 15px;
    vertical-align: bottom;
    font-weight: normal;
}

.btn-dropdown {
    min-width: 155px;
    text-align: left;
    background-color: #fff;
}   
    
.dropdown-toggle {
    padding-right: 12px !important;
    padding-left: 12px !important;
    background-color: #0FBABC;
    color: #fff;
    border: 1px solid #0FBABC;
    border-radius: 0;
}

.btn-default:hover {
    color: #fff;
    background-color: #faa61a;
    border-color: #0FB9bc;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #faa61a;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 194px;
    padding: 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: none;
}

/* Attendance List */

.attendance {
    border: 1px solid red;
    border-radius: 5px;
}

.attendance-left {
    background-color: #4f5e68;
    color: #fff;
    padding: 20px;
    border: 1px solid #4f5e68;
    border-radius: 5px 0 0 5px;
    
}

.attendance-center {
    padding: 20px;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    color: #4f5e68;
}

.attendance-right {
    padding: 20px;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-radius: 0 5px 5px 0;
    color: #4f5e68;
}

.equal-height {min-height: 250px;}

.attendance-list {
    list-style: none;
    padding-left: 20px;
}

.attendance-list h5, h3 { margin-top: 0;}

.circular-house {
    padding: 5px;
    background-color: #f4a328;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

.circular-hospital {
    padding: 5px;
    background-color: #ec6520;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}


/* Footer */

.footer-copyright {
    
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #4f5e68;
    color: #cfcfcf;
    Padding: 15px;
    font-size: 11px;
}

.footer-brand img {
    vertical-align: -7px;
    margin-left: 10px;
}


/* @Media */

@media (min-width: 768px){
    .navbar-right {
    float: right!important;
    margin-right: 10px;
}
}